.white-background {
    --background: white;
}

.gray-color {
    color: rgb(206, 206, 206);
}

.dark-green-color {
    color: #7EAFA9;
}

.dark-green-background {
    background-color: #7EAFA9;
}

.light-green-color {
    color: #4BB4B7
}

.dark-green-background-opacity {
    background-color: rgba(126, 175, 169, 0.3);
}

.dark-orange-color {
    color: #CCA28C;
}

.dart-background-orange-color {
    background-color: #CCA28C;
}

.light-orange-color {
    color: #E79D82;
}